.charities-content{
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    padding-top: 20px;
    width: 75%;
    margin:auto;
}
.donation-card-design{
    background: #fff;
    height: 350px;
    width: 300px;
    /* border-radius: 5px; */
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
    margin-bottom: 20px;
}
.img-div{
    background: #b7e4c7;
    height: 45%;
    /* border-radius: 5px 5px 0px 0px; */
}
.img-div img{
    /* border-radius: 5px 5px 0px 0px; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-div{
    /* background: yellow; */
    text-align: center;
    padding: 5px;
    /* border-radius: 0px 0px 5px 5px; */
    height:20%;
    color: #2d6a4f;

}
.donation-buttons{
    display: flex;
    gap: 0.5rem;
    /* background: pink; */
    justify-content: center;
    padding-top: 30px;
}
.donation-buttons button{
    height: 35px;
    width: 120px;
    font-size: 16px;
    font-weight: bold;
}
.donation-details-link{
    /* background: pink; */
    text-align: right;
    padding-right: 5px;
    height: 10%;
}
.donation-details-link a{
    text-decoration: none;
    color: #2d6a4f;
}
.donation-details-link a:hover{
    font-weight: bold;
}
.content-div a{
    text-decoration: none;
    color: #2d6a4f;
}
.btn1{
    background: white;
    color:#40916c;
    border: solid 2px #52b788;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.1);
}
.btn1:hover{
    background: #52b788;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.btn2{
    background: #2d6a4f;
    color: white;
    border: solid 2px #2d6a4f;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}
.btn2:hover{
    background: white;
    color: #2d6a4f;
    font-size: 16px;
    cursor: pointer;
}
.dialog-title {
    display: flex;
    gap: 2rem;
    margin-left: 10px;
    padding-left: 10px;
}
.donation-page{
    display: flex;
    margin: auto;
}

.causes-heading{
    margin: auto;
    height: 30px;
    font-size: 16px;
    padding-top: 10px;
    background: #d8f3dc;
    text-align: center;
    
}
.view-donations-button{
    width: 150px;
    height: 32px;
    border: none;
    /* border: 2px solid rgba(0,0,0,0.3); */
    color: #2d6a4f;
    font-size: 16px;
    font-weight: bold;
    margin-left: 38.8%;
    margin-top: 10px;
    background: #52b788;
    color: white;
    padding: 5px;
}
.view-donations-button:hover{
    cursor: pointer;
    background: #40916c;
}

